*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #414042;
  position: absolute;
  top: 0;
}
header div {
  width: 188px;
  height: 75px;
  position: relative;
  top: 13px;
  left: 1189px;
}
header div .profile-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 110px;
}
header div p {
  color: #414042;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
}

.side-bar {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  border-right: 1px solid #414042;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.side-bar .container {
  width: 334px;
  height: 132px;
  position: absolute;
  top: 20px;
  left: 33px;
}
.side-bar .container .logo {
  width: 141px;
  height: 62px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 91px;
}
.side-bar .container h1 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 72px;
  left: 0;
}
.side-bar .links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 265px;
  left: 65px;
  gap: 20px;
}
.side-bar .links p {
  color: #414042;
  width: fit-content;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  /*
  .active-p {
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-weight: 800;
  }
  */
}
.side-bar .links p:hover {
  color: #000000;
}

.new-colleauge {
  background-color: #e6e6e6;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.new-colleauge .new-colleague-field {
  width: 930px;
  height: 1566px;
  position: absolute;
  top: 140px;
  left: 445px;
}
.new-colleauge .new-colleague-field .container {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 1566px;
  position: relative;
}
.new-colleauge .new-colleague-field .container h2 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  left: 24px;
}
.new-colleauge .new-colleague-field .container .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 602px;
  position: absolute;
  top: 1482px;
}
.new-colleauge .new-colleague-field .container .overlap-group-wrapper {
  height: 60px;
  position: relative;
  width: 142px;
}
.new-colleauge .new-colleague-field .container .div-wrapper {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-6 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}
.new-colleauge .new-colleague-field .container .overlap-wrapper {
  height: 60px;
  margin-right: -2px;
  position: relative;
  width: 142px;
}
.new-colleauge .new-colleague-field .container .overlap-3 {
  background-color: #4caf50;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-7 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}
.new-colleauge .new-colleague-field .container .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 92px;
  left: 24px;
  gap: 24px;
}
.new-colleauge .new-colleague-field .container .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.new-colleauge .new-colleague-field .container p,
.new-colleauge .new-colleague-field .container .text-wrapper-9 {
  color: #414042;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}
.new-colleauge .new-colleague-field .container p {
  width: 300px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-9 {
  width: 200px;
}
.new-colleauge .new-colleague-field .container input {
  background-color: #ffffff;
  width: 800px;
  height: 45px;
  border: 1px solid #414042;
}
.new-colleauge .new-colleague-field .container .group-3 {
  width: 849px;
  height: 75px;
  position: relative;
}
.new-colleauge .new-colleague-field .container .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.new-colleauge .new-colleague-field .container .plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 38px;
  left: 819px;
}
.new-colleauge .new-colleague-field .container .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}
.new-colleauge .new-colleague-field .container .short-inp {
  background-color: #ffffff;
  width: 202px;
  height: 47px;
  border: 1px solid #414042;
}
.new-colleauge .new-colleague-field .container .long-inp {
  background-color: #ffffff;
  width: 576px;
  height: 45px;
  border: 1px solid #414042;
}

body {
  background-color: #e6e6e6;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.bla {
  position: fixed;
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=style.css.map */
