*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #414042;
  position: absolute;
  top: 0;
}
header div {
  width: 188px;
  height: 75px;
  position: relative;
  top: 13px;
  left: 1189px;
}
header div .profile-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 110px;
}
header div p {
  color: #414042;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
}

.side-bar {
  background-color: #ffffff;
  width: 400px;
  height: 100%;
  border-right: 1px solid #414042;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.side-bar .container {
  width: 334px;
  height: 132px;
  position: absolute;
  top: 20px;
  left: 33px;
}
.side-bar .container .logo {
  width: 141px;
  height: 62px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 91px;
}
.side-bar .container h1 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 72px;
  left: 0;
}
.side-bar .links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 265px;
  left: 65px;
  gap: 20px;
}
.side-bar .links p {
  color: #414042;
  width: fit-content;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  /*
  .active-p {
    font-family: "Open Sans-ExtraBold", Helvetica;
    font-weight: 800;
  }
  */
}
.side-bar .links p:hover {
  color: #000000;
}

#error-page {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#error-page h1,
#error-page p {
  color: #000000;
  font-family: "Open Sans-Bold", Helvetica;
}
#error-page h1 {
  font-weight: 700;
  font-size: 10rem;
}
#error-page p {
  font-size: 2rem;
}

.search-bar-field {
  background-color: #ffffff;
  width: 930px;
  padding: 24px;
  border: 1px solid #414042;
  border-radius: 20px;
  display: flex;
  position: relative;
  top: 140px;
  left: 445px;
}
.search-bar-field .search-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-bar-field .search-container #colleague-search {
  color: #414042;
  background-color: #e6e6e6;
  width: 300px;
  height: 40px;
  padding: 10px 0 10px 20px;
  border-top: 1px solid #414042;
  border-bottom: 1px solid #414042;
  border-left: 1px solid #414042;
  border-radius: 4px 0px 0px 4px;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
}
.search-bar-field .search-container button {
  width: 40px;
  height: 40px;
  background-image: url(../../../public/assets/arrow.svg);
  background-size: 100% 100%;
}
.search-bar-field .add-new-wrapper {
  background-color: #4caf50;
  width: 188px;
  height: 60px;
  border: 1px solid #414042;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-field .add-new-wrapper p {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.overal-statistics {
  align-items: flex-start;
  display: inline-flex;
  gap: 45px;
  left: 445px;
  position: absolute;
  top: 280px;
  margin-top: 40px;
}
.overal-statistics .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 45px;
  position: relative;
}
.overal-statistics .frame-2 .group-4 {
  height: 140px;
  position: relative;
  width: 280px;
}
.overal-statistics .frame-2 .group-4 .group-5 {
  height: 140px;
}
.overal-statistics .frame-2 .group-4 .group-5 .group-wrapper {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 142px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 282px;
}
.overal-statistics .frame-2 .group-4 .group-5 .group-wrapper .group-6 {
  height: 108px;
  left: 37px;
  position: relative;
  top: 16px;
  width: 210px;
}
.overal-statistics .frame-2 .group-4 .group-5 .group-wrapper .group-6 .text-wrapper-7 {
  color: #000000;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
}
.overal-statistics .frame-2 .group-4 .group-5 .group-wrapper .group-6 .text-wrapper-8 {
  color: #000000;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.overal-statistics .frame-2 .group-4 .overlap-4 {
  background-color: #4caf50;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 142px;
  left: -1px;
  position: relative;
  top: -1px;
}
.overal-statistics .frame-2 .group-4 .overlap-4 .group-7 {
  height: 108px;
  left: 56px;
  position: relative;
  top: 16px;
  width: 173px;
}
.overal-statistics .frame-2 .group-4 .overlap-4 .group-7 .text-wrapper-9 {
  color: #000000;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
.overal-statistics .frame-2 .group-4 .overlap-5 {
  background-color: #f44336;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 142px;
  left: -1px;
  position: relative;
  top: -1px;
}
.overal-statistics .frame-2 .group-4 .overlap-5 .text-wrapper-10 {
  color: #000000;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.colleagues-list {
  height: 646px;
  left: 445px;
  position: absolute;
  top: 460px;
  width: 932px;
}
.colleagues-list .overlap-6 {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 648px;
  left: -1px;
  position: relative;
  top: -1px;
}
.colleagues-list .overlap-6 .text-wrapper-11 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}
.colleagues-list .overlap-6 .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 22px;
  left: 24px;
  position: absolute;
  top: 92px;
}
.colleagues-list .overlap-6 .frame-3 .frame-4 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 882px;
}
.colleagues-list .overlap-6 .frame-3 .frame-4 .text-wrapper-12 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 200px;
}
.colleagues-list .overlap-6 .frame-3 .frame-4 .text-wrapper-13 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 250px;
}
.colleagues-list .overlap-6 .frame-3 .frame-4 .text-wrapper-14 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 40px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 882px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 .text-wrapper-15 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 200px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 .text-wrapper-16 {
  color: #414042;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 250px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 .edit {
  height: 25px;
  object-fit: cover;
  position: relative;
  width: 40px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 .text-wrapper-17 {
  color: #f44336;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 200px;
}
.colleagues-list .overlap-6 .frame-3 .frame-5 .frame-6 .text-wrapper-18 {
  color: #f44336;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 250px;
}

.new-colleauge {
  background-color: #e6e6e6;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.new-colleauge .new-colleague-field {
  width: 930px;
  height: 1566px;
  position: absolute;
  top: 140px;
  left: 445px;
}
.new-colleauge .new-colleague-field .container {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 1566px;
  position: relative;
}
.new-colleauge .new-colleague-field .container h2 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  left: 24px;
}
.new-colleauge .new-colleague-field .container .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 602px;
  position: absolute;
  top: 1482px;
}
.new-colleauge .new-colleague-field .container .overlap-group-wrapper {
  height: 60px;
  position: relative;
  width: 142px;
}
.new-colleauge .new-colleague-field .container .div-wrapper {
  background-color: #ffffff;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-6 {
  color: #414042;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}
.new-colleauge .new-colleague-field .container .overlap-wrapper {
  height: 60px;
  margin-right: -2px;
  position: relative;
  width: 142px;
}
.new-colleauge .new-colleague-field .container .overlap-3 {
  background-color: #4caf50;
  border: 1px solid #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-7 {
  color: #ffffff;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}
.new-colleauge .new-colleague-field .container .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 92px;
  left: 24px;
  gap: 24px;
}
.new-colleauge .new-colleague-field .container .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}
.new-colleauge .new-colleague-field .container p,
.new-colleauge .new-colleague-field .container .text-wrapper-9 {
  color: #414042;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}
.new-colleauge .new-colleague-field .container p {
  width: 300px;
}
.new-colleauge .new-colleague-field .container .text-wrapper-9 {
  width: 200px;
}
.new-colleauge .new-colleague-field .container input {
  background-color: #ffffff;
  width: 800px;
  height: 45px;
  border: 1px solid #414042;
}
.new-colleauge .new-colleague-field .container .group-3 {
  width: 849px;
  height: 75px;
  position: relative;
}
.new-colleauge .new-colleague-field .container .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.new-colleauge .new-colleague-field .container .plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 38px;
  left: 819px;
}
.new-colleauge .new-colleague-field .container .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}
.new-colleauge .new-colleague-field .container .short-inp {
  background-color: #ffffff;
  width: 202px;
  height: 47px;
  border: 1px solid #414042;
}
.new-colleauge .new-colleague-field .container .long-inp {
  background-color: #ffffff;
  width: 576px;
  height: 45px;
  border: 1px solid #414042;
}

body {
  background-color: #e6e6e6;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.bla {
  position: fixed;
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=style.css.map */
