.new-colleauge {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.new-colleauge .new-colleague-field {
  height: 1566px;
  left: 445px;
  position: absolute;
  top: 140px;
  width: 932px;
}

.new-colleauge .overlap-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #414042;
  border-radius: 20px;
  height: 1568px;
  left: -1px;
  position: relative;
  top: -1px;
}

.new-colleauge .text-wrapper-5 {
  color: var(--variable-collection-textcolor);
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.new-colleauge .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 602px;
  position: absolute;
  top: 1482px;
}

.new-colleauge .overlap-group-wrapper {
  height: 60px;
  position: relative;
  width: 142px;
}

.new-colleauge .div-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}

.new-colleauge .text-wrapper-6 {
  color: var(--variable-collection-textcolor);
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.new-colleauge .overlap-wrapper {
  height: 60px;
  margin-right: -2px;
  position: relative;
  width: 142px;
}

.new-colleauge .overlap-3 {
  background-color: #4caf50;
  border: 1px solid;
  border-color: #414042;
  border-radius: 20px;
  height: 62px;
  left: -1px;
  position: relative;
  top: -1px;
}

.new-colleauge .text-wrapper-7 {
  color: var(--variable-collection-white);
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.new-colleauge .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 24px;
  position: absolute;
  top: 92px;
}

.new-colleauge .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.new-colleauge .text-wrapper-8 {
  color: var(--variable-collection-textcolor);
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 300px;
}

.new-colleauge .rectangle-2 {
  background-color: var(--variable-collection-white);
  border: 1px solid;
  border-color: var(--variable-collection-textcolor);
  height: 47px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  width: 802px;
}

.new-colleauge .group-3 {
  height: 75px;
  position: relative;
  width: 849px;
}

.new-colleauge .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
}

.new-colleauge .plus {
  height: 30px;
  left: 819px;
  position: absolute;
  top: 38px;
  width: 30px;
}

.new-colleauge .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.new-colleauge .text-wrapper-9 {
  color: var(--variable-collection-textcolor);
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 200px;
}

.new-colleauge .rectangle-3 {
  background-color: var(--variable-collection-white);
  border: 1px solid;
  border-color: var(--variable-collection-textcolor);
  height: 47px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  width: 202px;
}

.new-colleauge .rectangle-4 {
  background-color: var(--variable-collection-white);
  border: 1px solid;
  border-color: var(--variable-collection-textcolor);
  height: 47px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  width: 578px;
}
