@use 'reset';
@use 'variables' as *;
@use 'header';
@use 'sideBar';
@use 'errorPage';
@use 'colleagues';
@use 'statistics';
@use 'searchBarField';
@use 'newColleauge';
@use 'colleagueProfile';
//@use '_mixins' as *;

body {
  background-color: $background;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  //position: relative;
  //width: 1440px;
}

.bla {
  position: fixed;
  top: 50%;
  left: 50%;
}
